@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  height: 100vh;
}
.landing-container {
  height: calc(100vh - 80px);
}
.cat::before {
  content: "";
  position: absolute;
  top: 18px;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: polygon(0 36%, 4% 68%, 4% 36%);
  background-color: #374151;
}
@media (width>767px) {
  .curved {
    position: relative;
    background: white;
    height: calc(100vh - 80px);
    border-bottom-left-radius: 50% 30%;
    border-bottom-right-radius: 50% 30%;
  }
}
@media (preferes-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
/* scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
  cursor: pointer;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* spiner */
.spiner {
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #4b5563;
  border: 9px solid transparent;
  border-top: 9px solid #1c64f2;
}
.spiner:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 71px;
  height: 71px;
  border-radius: 50%;
  background-color: #e2e8f0;
}
